Django==1.11.23
click==6.1
djangorestframework==3.3.2
django-crispy-forms==1.4.0
drfdocs==0.0.5
apscheduler==3.0.3

# commented-package==1.2.3
testing-errors-abc==0.0.12
git+https://github.com/ekonstantinidis/django-rest-framework-docs@63840e15b41661e57593935f863c7648f89bf473
